{{#
    Component for outputting a Statamic form fields grouped in sections. A noteworthy thing is that we keep
    the form fields components inside the views/components/form folder instead of publishing and customizing
    a vendor folder like the docs suggest: https://statamic.dev/tags/form-create#prerendered-field-html
    This gives us more control over the form fields and allows us to reuse the same form fields outside of
    the Statamic form.

    Docs:
        https://statamic.dev/forms
        https://statamic.dev/tags/form-create

    Params:
    - success_message: The message to display when the form is successfully submitted.
#}}

{{ once }}
    {{ push:scripts }}
        <script src="/vendor/statamic/frontend/js/helpers.js" defer></script>
        {{ vite src="resources/js/form.js" }}
    {{ /push:scripts }}
{{ /once }}

<div x-cloak x-data="form({ handle: {{ form:handle | to_js }} })">
    <template x-if="success">
        {{ partial:components/ui/alert style="success" :text="success_message" class="mb-8" }}
    </template>

    {{ form:create
        :in="form:handle"
        id="form-{form:handle}"
        csrf="false"
        x-ref="form"
        @submit.prevent="submit"
        js="alpine:{form:handle}"
    }}
        <input type="hidden" name="_token" value="{{ csrf_token }}">
        {{ partial:components/ui/form/honeypot model="{form:handle}.{honeypot}" }}

        <div class="space-y-12 divide-y divide-gray-300">
            {{ sections }}
                <div class="{{ !last ?= 'pb-12' }}">
                    {{ if display }}
                        <h3 class="h6 mb-8">{{ display }}</h3>
                    {{ /if }}

                    <div class="grid md:grid-cols-12 gap-y-6 gap-x-8">
                        {{ fields scope="field" }}
                            {{ $field_container_class = switch(
                                (width == '25') => 'md:col-span-3',
                                (width == '33') => 'md:col-span-4',
                                (width == '50') => 'md:col-span-6',
                                (width == '66') => 'md:col-span-8',
                                (width == '75') => 'md:col-span-9',
                                () => 'md:col-span-full'
                            )}}

                            {{ partial:components/form-field :container_class="$field_container_class" }}
                        {{ /fields }}
                    </div>
                </div>
            {{ /sections }}
        </div>

        <div class="pt-8">
            {{ partial:components/ui/form/submit :label="button_label" }}
        </div>
    {{ /form:create }}
</div>
