<!doctype html>
<html lang="{{ site:short_locale }}"{{ if commerce7:enable_c7 && commerce7:tenant_id }} class="c7-pending"{{ /if }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

        {{ partial:partials/seo }}
        {{ partial:partials/browser-appearance }}

        <link rel="preload" href="/vendor/liquidgl/html2canvas.min.js" as="script">
        <link rel="preload" href="/vendor/liquidgl/liquidGL.js?v=20260701-8" as="script">

        {{# --- Commerce7 CSS (guarded by globals) --- #}}
        {{ if commerce7:enable_c7 && commerce7:tenant_id }}
            <link rel="preconnect" href="https://cdn.commerce7.com">
            <link rel="stylesheet"
                  href="{{ commerce7:c7_css_url or 'https://cdn.commerce7.com/v2/commerce7.css' }}">
        {{ /if }}        

        {{ vite src="resources/css/site.css" }}
        {{# Async load fonts #}}
        {{ vite src="resources/css/fonts.css" attr:style:media="print" attr:style:onload="this.media='all'" }}

        {{ scripts:code_head }}
    </head>

    <body class="min-h-screen bg-white font-sans antialiased text-base/6 text-neutral-800 overflow-x-hidden selection:bg-primary selection:text-white">
        <svg width="0" height="0" style="position: absolute;">
            <defs>
                <filter id="gooey-splatter">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                </filter>
                <filter id="gooey-splatter-noise" x="-35%" y="-35%" width="170%" height="170%" color-interpolation-filters="sRGB">
                    <feTurbulence type="fractalNoise" baseFrequency="0.58" numOctaves="4" seed="13" stitchTiles="stitch" result="noise" />
                    <feDisplacementMap in="SourceGraphic" in2="noise" scale="1.25" xChannelSelector="R" yChannelSelector="G" result="roughened" />
                    <feGaussianBlur in="roughened" stdDeviation="0.18" result="softened" />
                    <feColorMatrix in="noise" type="saturate" values="0" result="monoNoise" />
                    <feComponentTransfer in="monoNoise" result="grain">
                        <feFuncR type="linear" slope="0.64" intercept="0.24" />
                        <feFuncG type="linear" slope="0.64" intercept="0.24" />
                        <feFuncB type="linear" slope="0.64" intercept="0.24" />
                        <feFuncA type="linear" slope="0.34" intercept="-0.02" />
                    </feComponentTransfer>
                    <feComposite in="grain" in2="SourceAlpha" operator="in" result="clippedGrain" />
                    <feBlend in="softened" in2="clippedGrain" mode="multiply" />
                </filter>
            </defs>
        </svg>
        {{ partial:partials/skip-to-content }}
        {{ yield:seo_body }}

        {{ if banner:show }}
            {{ partial:components/ui/banner }}
        {{ /if }}

        {{ partial:partials/header }}

        {{ template_content }}

        {{ partial:partials/footer }}

        {{# --- Commerce7 JS (guarded by globals) --- #}}
        {{ if commerce7:enable_c7 && commerce7:tenant_id }}
            <script
                id="{{ commerce7:c7_script_id or 'c7-javascript' }}"
                src="{{ commerce7:c7_js_url or 'https://cdn.commerce7.com/v2/commerce7.js' }}"
                data-tenant="{{ commerce7:tenant_id }}"
                {{ if commerce7:c7_defer }}defer{{ /if }}>
            </script>
        {{ /if }}

        {{# Push scripts when various components are added #}}
        {{ stack:scripts }}
        {{# liquidGL production nav dependencies. Local copies from naughtyduk/liquidGL. #}}
        <script src="/vendor/liquidgl/html2canvas.min.js"></script>
        <script src="/vendor/liquidgl/liquidGL.js?v=20260701-8"></script>
        {{ vite src="resources/js/site.js" }}

        {{# Scripts #}}
        {{ scripts:code_footer }}
    </body>
</html>
