<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

        {{ partial:partials/seo }}
        {{ partial:partials/browser-appearance }}

        {{# --- Commerce7 CSS (guarded by globals) --- #}}
        {{ if commerce7:enable_c7 && commerce7:tenant_id }}
            <link rel="preconnect" href="https://cdn.commerce7.com">
            <link rel="stylesheet"
                  href="{{ commerce7:c7_css_url or 'https://cdn.commerce7.com/v2/commerce7.css' }}">
        {{ /if }}        

        {{ vite src="resources/css/site.css" }}
        {{# Async load fonts #}}
        {{ vite src="resources/css/fonts.css" attr:style:media="print" attr:style:onload="this.media='all'" }}

        {{ scripts:code_head }}
    </head>

    <body class="min-h-screen bg-white font-sans antialiased text-base/6 text-neutral-800 overflow-x-hidden selection:bg-primary selection:text-white">
        {{ partial:partials/skip-to-content }}
        {{ yield:seo_body }}

        {{ if banner:show }}
            {{ partial:components/ui/banner }}
        {{ /if }}

        {{ partial:partials/header }}

        {{ template_content }}

        {{ partial:partials/footer }}

        {{# --- Commerce7 JS (guarded by globals) --- #}}
        {{ if commerce7:enable_c7 && commerce7:tenant_id }}
            <script
                id="{{ commerce7:c7_script_id or 'c7-javascript' }}"
                src="{{ commerce7:c7_js_url or 'https://cdn.commerce7.com/v2/commerce7.js' }}"
                data-tenant="{{ commerce7:tenant_id }}"
                {{ if commerce7:c7_defer }}defer{{ /if }}>
            </script>
        {{ /if }}

        {{# Push scripts when various components are added #}}
        {{ stack:scripts }}
        {{ vite src="resources/js/site.js" }}

        {{# Scripts #}}
        {{ scripts:code_footer }}
    </body>
</html>
