<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        {{ partial:partials/seo }}
        {{ partial:partials/browser-appearance }}

        {{ vite src="resources/css/site.css" }}
        {{# Async load fonts #}}
        {{ vite src="resources/css/fonts.css" attr:style:media="print" attr:style:onload="this.media='all'" }}

        {{ globals:commerce7 }}
        {{ if enable_c7 && tenant_id }}
            <link rel="stylesheet" href="{{ c7_css_url | default:'https://cdn.commerce7.com/v2/commerce7.css' }}">
        {{ /if }}
        {{ /globals:commerce7 }}

        {{ scripts:code_head }}
    </head>
    <body class="min-h-screen bg-white font-sans antialiased text-base/6 text-neutral-800 overflow-x-hidden selection:bg-primary selection:text-white">
        {{ partial:partials/skip-to-content }}
        {{ yield:seo_body }}

        {{ if banner:show }}
            {{ partial:components/ui/banner }}
        {{ /if }}

        {{ partial:partials/header }}

        {{ template_content }}

        {{ partial:partials/footer }}

        {{# Commerce7 #}}
        {{ globals:commerce7 }}
            {{ if enable_c7 && tenant_id }}
                <script id="{{ c7_script_id | default:'c7-javascript' }}"
                        src="{{ c7_js_url | default:'https://cdn.commerce7.com/v2/commerce7.js' }}"
                        data-tenant="{{ tenant_id }}"
                        {{ if c7_defer }}defer{{ /if }}></script>
            {{ /if }}
        {{ /globals:commerce7 }}

        {{# Push scripts when various components are added #}}
        {{ stack:scripts }}
        {{ vite src="resources/js/site.js" }}

        {{# Scripts #}}
        {{ scripts:code_footer }}
    </body>
</html>
