{{ limit = limit ?? 6 }}
{{ show_past = show_past ?? false }}
{{ shown = 0 }}

<section class="events-listing">
  {{ if heading }}
    <h2 class="events-listing__heading">{{ heading }}</h2>
  {{ /if }}

  {{ if intro }}
    <p class="events-listing__intro">{{ intro }}</p>
  {{ /if }}

  <div class="events-listing__grid">
    {{ collection:events sort="event_start:asc" }}
      {{ if (show_past || (event_start && (event_start | is_future))) && shown < limit && !hidden }}
        {{ shown += 1 }}

        <article class="events-listing__card">
          {{ if picture }}
            <div class="events-listing__media">
              {{ partial:components/ui/picture :image="picture" w="600" h="400" cover="true" }}
            </div>
          {{ /if }}

          <div class="events-listing__content">
            {{ if picture }}
              <h3 class="events-listing__title events-listing__title--overlay">
                <a href="{{ url }}">{{ title }}</a>
              </h3>
            {{ else }}
              <h3 class="events-listing__title">
                <a href="{{ url }}">{{ title }}</a>
              </h3>
            {{ /if }}

            <div class="events-listing__meta">
              {{ if event_start }}
                <time class="events-listing__date" datetime="{{ event_start format="Y-m-d\\TH:i:sP" }}">
                  {{ event_start format="F j, Y" }}
                  {{ if event_start format="g:i a" != "12:00 am" }}
                    • {{ event_start format="g:i a" }}
                  {{ /if }}
                </time>
              {{ /if }}

              {{ if location }}
                <div class="events-listing__location">{{ location }}</div>
              {{ /if }}
            </div>

            {{ if teaser }}
              <p class="events-listing__teaser">{{ teaser }}</p>
            {{ /if }}

            {{ if members_only }}
              <p class="events-listing__members-note">
                {{ members_note ?? 'Club Members Only' }}
              </p>
            {{ /if }}

            <div class="events-listing__actions">
              {{ if tock_url }}
                <a class="btn" href="{{ tock_url }}">Reserve</a>
              {{ elseif cta_url }}
                <a class="btn" href="{{ cta_url }}">{{ cta_text ?? 'Learn more' }}</a>
              {{ else }}
                <a class="btn" href="{{ url }}">Details</a>
              {{ /if }}
            </div>
          </div>
        </article>
      {{ /if }}
    {{ /collection:events }}

    {{ if shown == 0 }}
      <p class="events-listing__empty">No upcoming events at this time.</p>
    {{ /if }}
  </div>
</section>
