{{#
    Configure newsletter content inside Control Panel in /cp/globals/newsletter
    Configure email service provider logic inside app/Http/Controllers/NewsletterController.php
#}}

{{ once }}
    {{ push:scripts }}
        {{ vite src="resources/js/newsletter.js" }}
    {{ /push:scripts }}
{{ /once }}

<div
    x-cloak
    x-show="!isSubscribed()"
    x-data="newsletter({
        route: '{{ route:newsletter }}',
        siteName: '{{ site:name | underscored }}'
    })"
    class="m-section"
>
    <div class="container">
        {{ partial:partials/section-header :title="newsletter:title" :text="newsletter:text" margin="mb-10" }}

        <form
            x-ref="form"
            x-show="!success"
            @submit.prevent="submit()"
            class="mx-auto max-w-md"
        >
            <div class="flex flex-col md:flex-row gap-3">
                <input type="text" name="fax_number" class="hidden" x-ref="honeypot" />
                <input type="hidden" name="_token" value="{{ csrf_token }}">
                <label for="{{ type }}-{{ count }}-email" class="sr-only">Email</label>
                <input
                    x-model="email"
                    id="{{ type }}-{{ count }}-email"
                    type="email"
                    name="email"
                    autocomplete="email"
                    placeholder="{{ newsletter:input_placeholder }}"
                    class="sm:flex-1"
                    :disabled="sending"
                >
                {{ partial:components/ui/form/submit class="sm:w-auto shrink-0" :label="newsletter:button_label" }}
            </div>

            {{ partial:components/ui/input-error handle="email" }}
        </form>

        <template x-if="success">
            {{ partial:components/ui/alert style="success" :title="newsletter:success_message" class="mx-auto max-w-md mt-10" }}
        </template>
    </div>
</div>
