{{ if commerce7:enable_c7 && commerce7:tenant_id }}
  <section
    {{ if audience == 'members' }}x-data="productCardsAccess"{{ /if }}
    class="product-cards"
  >
    {{ if audience == 'all' }}
      <div class="c7-product-collection" data-collection-slug="{{ c7_collection_slug }}"></div>
    {{ else }}
      <div
        x-cloak
        x-show="resolved && loggedIn"
        class="c7-product-collection"
        data-collection-slug="{{ c7_collection_slug }}"
      ></div>

      <div
        x-cloak
        x-show="resolved && !loggedIn"
        class="product-cards__notice"
      >
        {{ guest_message ?? 'Log in to view member products.' }}
      </div>
    {{ /if }}
  </section>
{{ /if }}
