<section class="product-cards" data-block="product-cards">
  <section class="products">
    <div class="cta-button">
      <a href="#" class="cta-link">Wine Tasting Appointment</a>
    </div>

    <article class="product-card">
      <div class="product-image">
        <img src="/assets/product-cards/wine_CH2020.jpg" alt="wine">
      </div>
      <div class="product-details">
        <div class="product-info">
          <h1>Chardonnay 2020</h1>
          <h2>Subtitle, varieties listed, etc.</h2>
        </div>
        <div class="product-purchase">
          <h3>$99.99</h3>
          <a href="#" class="purchase-button">Purchase</a>
        </div>
      </div>
    </article>

    <article class="product-card">
      <div class="product-image">
        <img src="/assets/product-cards/wine_ESR2025.jpg" alt="wine">
      </div>
      <div class="product-details">
        <div class="product-info">
          <h1>Estate Syrah Rosé 2025</h1>
          <h2>Subtitle, varieties listed, etc.</h2>
        </div>
        <div class="product-purchase">
          <h3>$99.99</h3>
          <a href="#" class="purchase-button">Purchase</a>
        </div>
      </div>
    </article>

    <article class="product-card">
      <div class="product-image">
        <img src="/assets/product-cards/wine_SY2020.jpg" alt="wine">
      </div>
      <div class="product-details">
        <div class="product-info">
          <h1>Syrah 2020</h1>
          <h2>Subtitle, varieties listed, etc.</h2>
        </div>
        <div class="product-purchase">
          <h3>$99.99</h3>
          <a href="#" class="purchase-button">Purchase</a>
        </div>
      </div>
    </article>

    <article class="product-card">
      <div class="product-image">
        <img src="/assets/product-cards/wine_MLB2021.jpg" alt="wine">
      </div>
      <div class="product-details">
        <div class="product-info">
          <h1>Melange Blanc 2021</h1>
          <h2>Subtitle, varieties listed, etc.</h2>
        </div>
        <div class="product-purchase">
          <h3>$99.99</h3>
          <a href="#" class="purchase-button">Purchase</a>
        </div>
      </div>
    </article>

    <article class="product-card">
      <div class="product-image">
        <img src="/assets/product-cards/wine_RR2021.jpg" alt="wine">
      </div>
      <div class="product-details">
        <div class="product-info">
          <h1>Red Reserve 2021</h1>
          <h2>Subtitle, varieties listed, etc.</h2>
        </div>
        <div class="product-purchase">
          <h3>$99.99</h3>
          <a href="#" class="purchase-button">Purchase</a>
        </div>
      </div>
    </article>

    <article class="product-card">
      <div class="product-image">
        <img src="/assets/product-cards/wine_ZN2020XLB.jpg" alt="wine">
      </div>
      <div class="product-details">
        <div class="product-info">
          <h1>Zinfandel XLB 2020</h1>
          <h2>Subtitle, varieties listed, etc.</h2>
        </div>
        <div class="product-purchase">
          <h3>$99.99</h3>
          <a href="#" class="purchase-button">Purchase</a>
        </div>
      </div>
    </article>
  </section>
</section>