<section id="{{ type | slugify }}" class="m-section">
    <div class="recipes-listing-container">
        {{ partial:partials/section-header }}

        {{ if query === 'custom' }}
            {{ $entries = entries }}
        {{ elseif query === 'latest' }}
            {{ $entries = {collection:recipes :limit="limit" sort="date:desc"} }}
        {{ elseif query === 'featured' }}
            {{ $entries = {collection:recipes :limit="limit" featured:is="true" sort="date:desc"} }}
        {{ /if }}

        <div class="recipes-hscroll" data-recipes-hscroll>
            <div class="recipes-hscroll__sticky">
                <div class="recipes-hscroll__track" data-recipes-hscroll-track>
                    {{ $entries }}
                        {{ partial:partials/entry-recipes class="recipes-hscroll__item" }}
                    {{ /$entries }}
                </div>
            </div>
        </div>
    </div>
</section>
