<section id="{{ type | slugify }}" class="m-section">
    <div class="container">
        {{ partial:partials/section-header }}

        {{ if query === 'custom' }}
            {{ $count = entries | count }}
        {{ else }}
            {{ $count = limit }}
        {{ /if }}

        {{ if $count <= 6 }}
            <div class="recipes-listing recipes-listing--rail">
                {{ if query === 'custom' }}
                    <div class="recipes-listing__rail" aria-label="Recipes">
                        {{ entries }}
                            {{ partial:partials/entry-recipes class="recipes-listing__item" }}
                        {{ /entries }}
                    </div>
                {{ elseif query === 'latest' }}
                    <div class="recipes-listing__rail" aria-label="Recipes">
                        {{ collection:recipes :limit="limit" sort="date:desc" }}
                            {{ partial:partials/entry-recipes class="recipes-listing__item" }}
                        {{ /collection:recipes }}
                    </div>
                {{ elseif query === 'featured' }}
                    <div class="recipes-listing__rail" aria-label="Recipes">
                        {{ collection:recipes :limit="limit" featured:is="true" sort="date:desc" }}
                            {{ partial:partials/entry-recipes class="recipes-listing__item" }}
                        {{ /collection:recipes }}
                    </div>
                {{ /if }}
            </div>
        {{ else }}
            <div class="recipes-listing recipes-listing--masonry">
                {{ if query === 'custom' }}
                    <div class="recipes-listing__masonry" aria-label="Recipes">
                        {{ entries }}
                            {{ partial:partials/entry-recipes class="recipes-listing__item" }}
                        {{ /entries }}
                    </div>
                {{ elseif query === 'latest' }}
                    <div class="recipes-listing__masonry" aria-label="Recipes">
                        {{ collection:recipes :limit="limit" sort="date:desc" }}
                            {{ partial:partials/entry-recipes class="recipes-listing__item" }}
                        {{ /collection:recipes }}
                    </div>
                {{ elseif query === 'featured' }}
                    <div class="recipes-listing__masonry" aria-label="Recipes">
                        {{ collection:recipes :limit="limit" featured:is="true" sort="date:desc" }}
                            {{ partial:partials/entry-recipes class="recipes-listing__item" }}
                        {{ /collection:recipes }}
                    </div>
                {{ /if }}
            </div>
        {{ /if }}
    </div>
</section>
