{{#
The cookie banner component that is in `resources/views/partials/seo.antlers.html` and yielded in `resources/views/layout.antlers.html`.
#}}

{{ once }}
    {{ push:scripts }}
        {{ vite src="resources/js/cookieDialog.js" }}
    {{ /push:scripts }}
{{ /once }}

<div
    x-cloak
    x-show="!$store.cookieDialog.getConsent()"
    x-transition:enter="ease duration-200"
    x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave="ease duration-150"
    x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
    x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    x-data="cookieDialog({
        {{ if seo:cookie:consent_revoke_before }}
            consentRevokeBefore: {{ seo:cookie:consent_revoke_before format='U' }},
        {{ else }}
            consentRevokeBefore: null,
        {{ /if }}
        consentData: {
            consent: false,
            date: null,
            consent_api: {{ (seo:tracker_type == 'gtag' || seo:tracker_type == 'gtm') | bool_string }},
            {{ if seo:tracker_type == 'gtag' }}
                {{# Keep only relevant types #}}
                types: {{ seo:cookie:consent_types | where_in('name', ['functionalCookies', 'analyticsStorage']) | to_js }},
            {{ else if seo:tracker_type == 'gtm' }}
                types: {{ seo:cookie:consent_types | to_js }},
            {{ /if }}
        }
    })"
    class="container max-w-xl fixed inset-x-0 bottom-0 pb-6 z-50"
>
    <div class="card shadow-lg transition-all">
        <div class="space-y-1.5">
            <div class="leading-none font-semibold">{{ seo:cookie:title }}</div>
            <div class="text-sm/6 text-muted-foreground prose prose-p:my-0 max-w-none">
                {{ seo:cookie:description }}
            </div>
        </div>

        <div x-cloak x-show="settingsOpen" class="flex flex-col gap-4">
            <template x-for="type in $store.cookieDialog.getConsentTypes()">
                <div class="relative flex gap-x-3 items-start">
                    <div class="flex h-6 items-center">
                        <template x-if="!type.consent_api">
                            {{# Functional cookies are always on. #}}
                            <input
                                :name="type.name"
                                :id="type.name"
                                :aria-describedby="`${type.name}-description`"
                                type="checkbox"
                                checked
                                disabled
                            >
                        </template>
                        <template x-if="type.consent_api">
                            <input
                                x-model="type.value"
                                :id="type.name"
                                :aria-describedby="`${type.name}-description`"
                                :name="type.name"
                                type="checkbox"
                            >
                        </template>
                    </div>
                    <div class="text-sm/6">
                        <label :for="type.name" :class="{ 'cursor-not-allowed text-muted-foreground': !type.consent_api }" x-text="type.label"></label>
                        <p :id="`${type.name}-description`" class="text-muted-foreground text-pretty" x-text="type.description"></p>
                    </div>
                </div>
            </template>
        </div>

        <div class="flex flex-wrap gap-2">
            {{# Accept all cookies and set current date. #}}
            <button
                x-show="!settingsOpen"
                @click="$store.cookieDialog.acceptAll()"
                type="button"
                class="btn btn--primary flex-1 sm:flex-none"
            >
                {{ seo:cookie:accept_label }}
            </button>

            {{# Accept user selected cookies and set current date. #}}
            <button
                x-show="settingsOpen"
                @click="$store.cookieDialog.saveConsent()"
                type="button"
                class="btn btn--primary flex-1 sm:flex-none"
            >
                {{ seo:cookie:accept_selected_label }}
            </button>

            {{# Reject all cookies #}}
            <button
                @click="$store.cookieDialog.rejectAll()"
                type="button"
                class="btn btn--outline flex-1 sm:flex-none"
            >
                {{ seo:cookie:reject_label }}
            </button>

            {{# Customize which cookies to accept. #}}
            <button
                @click="settingsOpen = !settingsOpen"
                type="button"
                class="btn btn--outline flex-1 sm:flex-none"
            >
                {{ seo:cookie:settings_label }}
            </button>
        </div>
    </div>
</div>

{{# Yield this section in `partials/nav-bottom-footer.antlers.html` so users can reset their consent. #}}
{{ section:reset_cookie_consent }}
    {{ if seo:use_cookie_dialog }}
        <a
            x-cloak
            x-show="$store.cookieDialog.getConsent()"
            x-data
            href="#"
            @click.prevent="$store.cookieDialog.revokeConsent()"
            class="text-xs text-muted-foreground hover:text-foreground"
        >
            {{ seo:cookie:reset_consent_label }}
        </a>
    {{ /if }}
{{ /section:reset_cookie_consent }}
