<article class="recipe-card {{ class }}">
    <header class="recipe-card__header">
        <h1 class="recipe-card__title">{{ title }}</h1>

        {{ if difficulty || cook_time || servings }}
            <h2 class="recipe-card__subtitle">
                {{ if difficulty }}{{ difficulty | title }}{{ /if }}
                {{ if difficulty && (cook_time || servings) }} <span aria-hidden="true">•</span> {{ /if }}
                {{ if cook_time }}{{ cook_time }} hr{{ if cook_time != 1 }}s{{ /if }}{{ /if }}
                {{ if cook_time && servings }} <span aria-hidden="true">•</span> {{ /if }}
                {{ if servings }}Serves {{ servings }}{{ /if }}
            </h2>
        {{ /if }}
    </header>

    <div class="recipe-card__media" aria-hidden="true">
        {{ partial:components/ui/picture w="720" h="720" cover="true" class="recipe-card__picture" }}
    </div>

    <div class="recipe-card__footer">
        <a href="{{ url }}" class="recipe-card__cta btn btn--secondary">
            <span>Recipe Details</span>
            {{ svg src="heroicons-outline/chevron-right" class="size-4" }}
        </a>
    </div>
</article>
