<footer>
  <div class="footer_upper">
    <div class="footer_logo_mark" aria-hidden="true">
      {{ svg src="symbols/lc_logo" class="footer_logo_svg" }}
    </div>
    <div class="footer_upper_inner">
      <div class="footer_column footer_cta">
        <h2 class="footer_heading">{{ footer:cta_heading }}<span class="screenreader">: Join the Le Cuvier Wine Club</span></h2>
        <p>{{ footer:cta_text }}</p>
        <a class="largeLinkBtn" href="{{ footer:cta_button_url }}"><span>{{ footer:cta_button_text }}</span></a>
      </div>

      <div class="footer_info_wrap" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="footer_column footer_contact">
          <h2 class="footer_heading">{{ footer:contact_heading }}</h2>
          {{ if footer:contact_email }}
            <span class="footer_list"><a class="footer_link" href="mailto:{{ footer:contact_email }}" itemprop="email">{{ footer:contact_email }}</a></span>
          {{ /if }}
          {{ if footer:contact_phone }}
            <span class="footer_list"><a class="footer_link" href="tel:{{ footer:contact_phone | replace:' ':'' | replace:'+':'' }}" itemprop="telephone">{{ footer:contact_phone }}</a></span>
          {{ /if }}
          {{ if footer:contact_website }}
            <span class="footer_list"><a class="footer_link" href="/" itemprop="url">{{ footer:contact_website }}</a></span>
          {{ /if }}
        </div>
        <div class="footer_column footer_location" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <h2 class="footer_heading"><span class="screenreader">Winery & </span>{{ footer:location_heading }}</h2>
          <div class="footer_address">
            {{ footer:location_address | nl2br | replace:'<br />':'</span><span class="footer_list">' | ensure_left:'<span class="footer_list">' | ensure_right:'</span>' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_lower">
    <div class="footer_column">
      {{ footer:tagline }}
    </div>
    <div class="footer_menu_wrap">
      <div class="footer_column">
        © Copyright {{ now | format('Y') }} {{ footer:copyright_text }}
      </div>
      <div class="footer_column" role="navigation" aria-label="footer menu">
        {{ nav handle="bottom_footer" max_depth="1" select="title|url|is_external" as="links" }}
          {{ if links }}
            <ul>
              {{ links }}
                <li><a href="{{ url }}"{{ if is_external }} target="_blank" rel="noopener nofollow"{{ /if }}>{{ title }}</a></li>
              {{ /links }}
            </ul>
          {{ /if }}
        {{ /nav }}
      </div>
    </div>
  </div>
</footer>
