{{ partial:partials/nav }}

{{#
<div class="relative bg-white" x-data="{ mobileNavOpen: false }">
    <div class="container">
        <div class="flex justify-between items-center py-6 md:justify-start md:gap-x-10">
            <div class="flex-1 flex">
                {{ partial:components/logo class="w-40 h-8 inline-flex" }}
            </div>
            <div class="-mr-2 -my-2 lg:hidden">
                <button
                    type="button"
                    class="btn btn--ghost btn--square"
                    :aria-expanded="mobileNavOpen"
                    @click.prevent="mobileNavOpen = !mobileNavOpen"
                >
                    <span class="sr-only">Open menu</span>
                    {{ icon:lucide-menu class="size-5" }}
                </button>
            </div>

            {{ partial:partials/nav-header-desktop }}

            <div class="hidden lg:flex items-center justify-end lg:flex-1 lg:w-0 gap-x-2">
                {{ theme:header_buttons }}
                    {{ partial:components/ui/button }}
                {{ /theme:header_buttons }}
            </div>
        </div>
    </div>

    {{ partial:partials/nav-header-mob }}
</div>
#}}