{{#
    Params:
    - style: The style of the alert. Options: `success`, `warning`, `error`.
    - title: The title to display in the alert.
    - description: The description to display in the alert.
    - dismissible: Boolean. Whether the alert can be dismissed.
    - class: Additional classes to apply to the alert.
 #}}

<div class="alert
    {{ switch(
        (style === 'success') => 'alert--success',
        (style === 'warning') => 'alert--warning',
        (style === 'error') => 'alert--error'
    )}}
    {{ class }}
    "
    {{ if dismissible }} x-data="{ dismissed: false }" x-show="!dismissed" {{ /if }}
>
    <div class="alert__icon">
        {{ if style === 'success' }}
            {{ icon:lucide-circle-check }}
        {{ elseif style === 'warning' }}
            {{ icon:lucide-triangle-alert }}
        {{ elseif style === 'error' }}
            {{ icon:lucide-circle-x }}
        {{ /if }}
    </div>
    <div class="alert__content">
        <p class="line-clamp-1 font-medium tracking-tight">{{ title }}</p>
        {{ if description }}
            <p class="text-muted-foreground text-sm">{{ description }}</p>
        {{ /if }}
    </div>

    {{ if dismissible }}
        <div class="ml-auto pl-2">
            <div class="-m-2">
                <button
                    type="button"
                    class="inline-flex translate-y-0.5 rounded-xs p-1.5 text-neutral-800/70 hover:text-foreground"
                    @click="dismissed = !dismissed"
                >
                    <span class="sr-only">Dismiss</span>
                    {{ icon:lucide-x class="size-4" }}
                </button>
            </div>
        </div>
    {{ /if }}
</div>
