@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Rufina:wght@400;700&display=swap');

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/resources/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/resources/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: swap;
}
