/*
Instead of rellying 100% on TailwindCSS utility classes,
for highly reusable UI elements we create BEM CSS components.
We think this approach is faster and more maintainable and eliminates the
need to create/import a bunch of Antlers partials with a single HTML tag.

Introduction to BEM:
@see http://getbem.com/introduction/
@see https://cssguidelin.es/#bem-like-naming

CSS folder structure is based on ITCSS:
@see https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*/

/* Configs */
@import 'tailwindcss';
@import './config.css';
@import './typography.css';

/* Elements */
@import './elements/borders.css';
@import './elements/images.css';
@import './elements/inputs.css';
@import './elements/links.css';
@import './elements/page.css';
@import './elements/typography.css';

/* Objects */
@import './objects/layout.css';

/* Components */
@import './components/alert.css';
@import './components/badge.css';
@import './components/button.css';
@import './components/card.css';
@import './components/headings.css';
@import './components/misc.css';
@import './components/scrollbar.css';
@import './components/tooltip.css';
@import './components/typography.css';

/* Utilities */
@import './utilities/br-hidden.css';
@import './utilities/container.css';
@import './utilities/fill-current-nested.css';
@import './utilities/site-grid.css';

/* Custom Styles */
@import './components/nav.css';