@plugin '@tailwindcss/typography';

@utility prose {
  --tw-prose-body: var(--color-neutral-800);
  --tw-prose-headings: var(--color-neutral-950);
  --tw-prose-counters: var(--color-primary);
  --tw-prose-bullets: var(--color-neutral-950);
  --tw-prose-quotes: var(--color-neutral-950);
  --tw-prose-quote-borders: var(--color-primary);
  --tw-prose-bold: var(--color-neutral-950);
  --tw-prose-links: var(--color-primary);
}

@layer utilities {
  .prose {
    ul > li p,
    ol > li p {
      @apply !my-0;
    }

    a {
      @apply font-medium no-underline underline-offset-4 hover:underline;
    }
  }
}
