main:has(#c7-content .c7-account-login) {
    align-content: center;
    justify-content: center;
    position: relative;
}

main > #c7-content {
    position: relative;
    top: max(0px, 150px - 50%);
}