#main.vineyard main {
  margin-top: 10.5rem;
}

@media screen and (min-width: 580px) {
  #main.vineyard main {
    margin-top: 0;
  }
}

@media screen and (min-width: 580px) {
  .vineyard_header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    height: 69vh;
  }
}

@media screen and (min-width: 768px) {
  .vineyard_header {
    margin-bottom: 2rem;
  }
}

.vineyard_header:after {
  content: "";
  position: absolute;
  background: #f1efec;
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
  z-index: -2;
  pointer-events: none;
}

@media screen and (min-width: 580px) {
  .vineyard_header:after {
    content: none;
    z-index: auto;
    pointer-events: auto;
  }
}

.vineyard_header .header_img {
  width: calc(100% - 4rem);
  margin: 0 auto;
}

@media screen and (min-width: 580px) {
  .vineyard_header .header_img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 52% 100%, 50% 97%, 48% 100%, 0 100%);
    z-index: -1;
  }
  .vineyard_header .header_img:after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: 1;
    pointer-events: none;
  }
}

.vineyard_header .header_img img {
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 580px) {
  .vineyard_header .header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: none;
  }
}

.vineyard_page_title {
  position: relative;
  text-align: left;
  margin-top: 1.5em;
}

@media screen and (min-width: 768px) {
  .vineyard_page_title {
    position: relative;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    font-size: 2.5em;
    height: 100%;
    width: 100%;
    max-width: 90vw;
    overflow: hidden;
  }
}

.vineyard_page_title h1 {
  width: auto;
  max-width: 100%;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .vineyard_page_title h1 {
    color: #f9f9f9;
    position: relative;
    max-width: none;
    line-height: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
}

.vineyard_social_icons {
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  transform: scale(1.5);
}

@media screen and (min-width: 880px) {
  .vineyard_social_icons {
    top: auto;
    bottom: 0.5rem;
    right: 1.5rem;
    transform: scale(1);
  }
}

.vineyard_social_icons li {
  display: inline-block;
  margin-right: 0;
}

.vineyard_social_icons li:last-child {
  margin-right: 0;
}

.vineyard_social_icons li a[href=""] {
  display: none;
}

.social_icon {
  display: flex;
  height: 1.389vw;
  align-items: center;
}

.social_icon svg {
  height: calc(.65842vw + 1.01296em);
  fill: #c7c0b5;
  transition: fill .4s ease-out;
}

@media screen and (min-width: 880px) {
  .social_icon svg {
    height: 1.389vw;
  }
}

.social_icon svg:hover {
  fill: #adae60;
  transition: fill .4s ease-out;
}

.vineyard_geography {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: auto;
  padding: 0 2rem 1.5rem;
  background: #f1efec;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .vineyard_geography {
    max-width: calc(100% - 7rem);
    padding: 0;
    background: transparent;
    z-index: auto;
  }
}

.vineyard_geography .geo_third {
  flex: 1 0 50%;
}

@media screen and (min-width: 768px) {
  .vineyard_geography .geo_third {
    flex: 0 0 33.333333%;
    text-align: center;
  }
}

.vineyard_geography .geo_third:last-of-type {
  text-align: center;
  margin-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (min-width: 768px) {
  .vineyard_geography .geo_third:last-of-type {
    margin-top: 1em;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.vineyard_geography .geo_third:nth-of-type(-n+2) {
  padding-top: 0.75em;
}

.vineyard_geography .geo_third:first-of-type {
  border-right: 1px solid #e0e0e0;
  text-align: left;
  padding-right: 0.5em;
}

.vineyard_geography .geo_third:nth-of-type(2) {
  text-align: right;
  padding-left: 0.5em;
}

@media screen and (min-width: 768px) {
  .vineyard_geography .geo_third:nth-of-type(-n+2) {
    padding-top: 0;
  }

  .vineyard_geography .geo_third:first-of-type {
    text-align: center;
    padding-right: 0;
  }

  .vineyard_geography .geo_third:nth-of-type(2) {
    text-align: center;
    padding-left: 0;
  }

  .vineyard_geography .geo_third:last-of-type {
    border-left: 1px solid #e0e0e0;
  }
}

.geo_third dd {
  margin-left: 0;
  line-height: 1.3em;
}

@media screen and (min-width: 880px) {
  .geo_third dd {
    max-width: 14em;
    margin: auto;
  }
}

.vineyard_text {
  padding: 1rem 2rem 0;
}

@media screen and (min-width: 880px) {
  .vineyard_text {
    padding: 0;
    margin: 2rem auto 1.5rem;
    max-width: 50rem;
  }
}

.vineyard_grapes {
  padding: 0.5rem 1.25rem;
  margin: 2rem 1.5rem 1.5rem;
  background: #fdfdfd;
  box-shadow: 0 1rem 3rem -2rem rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 980px) {
  .vineyard_grapes {
    padding: 0.5rem 2rem 1.5rem;
    margin: 2rem 3rem 2.5rem;
  }
}

.v_subhead {
  text-align: center;
  font-size: calc(.55842vw + 1.1296em);
  line-height: 1.25;
}

@media screen and (min-width: 980px) {
  .v_subhead {
    font-size: 2.467vw;
    line-height: 3.533vw;
  }
}

.vineyard_sourcing {
  max-width: 50rem;
  margin: 0 auto 0.5em;
}

@media screen and (min-width: 980px) {
  .vineyard_sourcing {
    margin: 2em auto 1.5em;
  }
}

.grape_table_info {
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  line-height: calc(1.4em + .2vw);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 0.25em;
}

@media screen and (min-width: 880px) {
  .grape_table_info {
    font-size: calc(.55842vw + .5296em);
    text-align: center;
  }
}

.grape_table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  padding: 0.5rem 0 0.5rem;
}

@media screen and (min-width: 580px) {
  .grape_table {
    margin: 0 0 3em 0;
    padding: 0.5rem 0 1.5rem;
  }
}

@media screen and (min-width: 880px) {
  .grape_table {
    padding: 0;
    margin: 0 0 1.5rem;
  }
}

.grape_table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  border: solid 3px #fdfdfe;
  background: #f1efec;
}

.grape_table-cell--Yes {
  background: #d2d8c0;
}

.grape_table-cell > h1,
.grape_table-cell > h2,
.grape_table-cell > h3,
.grape_table-cell > h4,
.grape_table-cell > h5,
.grape_table-cell > h6 {
  margin: 0;
}

.grape_table-cell > span {
  display: block;
  line-height: 1.5em;
  font-weight: 400;
}

.grape_table--2cols > .grape_table-cell {
  width: 50%;
}

.grape_table--3cols > .grape_table-cell {
  width: 33.33%;
}

.grape_table--4cols > .grape_table-cell {
  width: 25%;
}

.grape_table--5cols > .grape_table-cell {
  width: 20%;
}

.grape_table--6cols > .grape_table-cell {
  width: 16.6%;
}

@media screen and (max-width: 320px) {
  .grape_table--collapse {
    display: block;
  }

  .grape_table--collapse > .grape_table-cell {
    width: 100% !important;
  }
}

@media screen and (max-width: 580px) {
  .grape_table--collapse > .grape_table-cell {
    width: 50% !important;
  }
}

.no-flexbox .grape_table {
  display: block;
}

.no-flexbox .grape_table > .grape_table-cell {
  width: 100%;
}
