<fieldset
    :aria-invalid="hasError('{{ handle }}')"
    {{ instructions ?= 'aria-describedby="{handle}-instructions"' }}
>
    <legend class="block text-sm font-medium text-foreground select-none">{{ display }}</legend>

    {{ if field:instructions }}
        <p id="{{ field:handle }}-instructions" class="text-sm text-muted-foreground">
            {{ field:instructions }}
        </p>
    {{ /if }}

    <div class="mt-3 space-y-4">
        {{ foreach:options as="value|label" }}
            <div class="flex items-center gap-3">
                <input
                    x-model="{{ model }}"
                    id="{{ value }}"
                    type="radio"
                    name="{{ handle }}"
                    value="{{ value }}"
                    :aria-invalid="hasError('{{ handle }}')"
                    @change="forgetError('{{ handle }}')"
                >
                <label for="{{ value }}" class="font-normal">
                    {{ label }}
                </label>
            </div>
        {{ /foreach:options }}
    </div>
</fieldset>
