{{ if searchable }}
    {{ partial:components/ui/form/combobox }}
{{ else }}
    <select
        x-model="{{ model }}"
        :class="{
            'text-muted-foreground': !{{ model }}
        }"
        id="{{ handle }}"
        name="{{ handle }}{{ multiple ?= "[]" }}"
        :aria-invalid="hasError('{{ handle }}')"
        {{ instructions ?= 'aria-describedby="{handle}-instructions"' }}
        {{ multiple | attribute:multiple }}
        @change="forgetError('{{ handle }}')"
    >
        {{ unless multiple }}
            <option value :selected="!{{ model }} ? true : false" disabled>
                Select {{ handle | deslugify }}…
            </option>
        {{ /unless }}
        {{ foreach:options as="value|label" }}
            <option value="{{ value }}">
                {{ label }}
            </option>
        {{ /foreach:options }}
    </select>
{{ /if }}
