@layer components {
  .p-section {
    @apply py-24 sm:py-32 lg:py-40;
  }

  .m-section {
    @apply my-24 sm:my-32 lg:my-40;
  }
}

body {
  padding-top: 150px;
}

section:not(.product-cards):not(.promo-cards) {
  margin-top: 0;
}

section.product-cards,
section.promo-cards {
  margin-top: -150px;
  padding-top: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 120px;
  }

  section.product-cards,
  section.promo-cards {
    margin-top: -120px;
  }
}
